body {
    background-color: #FFFF;
    text-align: center;
    padding-top: 400px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}


button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 10px 20px;
    margin: 5px;
    background-color: black;
    color:white;
    border-radius: 5px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

button:hover {
    font-size: 23px;
    transition: 0.5s;
}
